
.center{
  font-family: 'Raleway', sans-serif;
  background-color: #1abc9c;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card , .verify_sms , .set_password{
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
}

.card > form , .verify_sms > form , .set_password > form{
  display: flex;
  flex-direction: column;
}

.card h1 , .verify_sms , .set_password{
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.form-item{
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin-bottom: 2rem;
  height: 30px;
  width: 16rem;
  border: 1px solid grey;
}

.code{
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  margin-top: 15px;
  background-color: #fff !important;
  margin-bottom: 15px;
  height: 35px;
  width: 16rem;
  border: 1px solid grey;
}

.form-submit{
  font-family: 'Raleway', sans-serif;
  height: 35px;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
}
.form-submit:hover{
  opacity: 0.6;
}
.disable
{
  display: none;
}
.enable
{
  display: block;
}
.react-countdown-clock
{
  margin: 15px 50% 15px auto;
}

.set_password h1
{
  margin-bottom: 20px;
}
